<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IPAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="microsoft.scripting" requirePermission="false" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <IPAnalyzer.Properties.Settings>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LocationProperty" serializeAs="String">
        <value>0, 17</value>
      </setting>
      <setting name="LocationParameterOption" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormParameterOptionWaveLength" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormParameterOptionCameraLength" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormParameterOptionTiltCorrection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormParameterOptionSphericalCorrection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormParameterOptionPixelShape" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CenterPosition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormSequentialImageLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </IPAnalyzer.Properties.Settings>
  </userSettings>
</configuration>
